body {
  background-color: #fafafa;
  font-family: 'Nunito';
  padding-top: 50px;
}
.container{
max-width: 550px;
margin: auto;
background-color: #fff;
box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}
.header-bar{
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(90deg, #7cc89d 0%, #4aa852 43%, #1b4d20 100%);
}
h1, h2, h3, h4, h5 {
  font-family: 'Raleway';
  font-weight: 500;
}

a, p{
color: #4b5156;
}
.header-bar a{
text-decoration: none;
color: #fff;
}
.task-wrapper{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #FFF;
  border-top: 1PX solid rgb(226,226, 226);
}
.task-title{
  display: flex;
}

.task-title a {
  text-decoration: none;
  color: #4b5156;
  margin-left: 10px;
}

.task-complete-icon{
  height: 20px;
  width: 20px;
  background-color: rgb(30, 200, 30);
  border-radius: 50%;
}
.task-incomplete-icon{
  height: 20px;
  width: 20px;
  background-color: rgb(218,218,218);
  border-radius: 50%;
}
.deletex{
  background-color: #fafafa;
  box-shadow: 0 1px 1px 1px rgba(255, 0, 0, 0.1);
  color:red;
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.search-add-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
input[type='text'], input[type='password'], textarea{
  border : 1px solid #4aa852;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
}
input.search-bar{
  border : 1px solid #4aa852;
  border-radius: 5px;
  width: 90%;

}

label{
  padding-top: 10px !important;
  display: block;
}
.card-body{
  padding:20px;
  margin-bottom: 10px;
}
.button{
  border: 1px solid ;
  background-color: #fafafa;
  color:#4aa852;
  padding:10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;

}
.del-confirm-button{
    border: 1px solid ;
    background-color: #fafafa;
    color: red;
    padding:10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  .add-link{
  background-color: #fafafa;
  box-shadow: 0 2px 2px 2px #4aa85219;
  color:#4aa852;
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  }
.link{

  color:#4aa852;
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}