{% extends 'todoapp/main.html'%}
{% block content%}
<div class='header-bar'><h1>Login</h1></div>
<div class='card-body'>
<form method="POST">
  {% csrf_token %} {{form.as_p}}
  <input type="submit" value="Login" class='button'/>
</form>
<p>Don't have an account? <a href="{%url 'register'%}" class='link'>Register</a></p>
</div>
{% endblock content%}