{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Nunito:wght@200&family=Roboto:wght@100;300;400;500;700&family=Rubik:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Nunito:wght@200&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500&family=Roboto:wght@100;300;400;500;700&family=Rubik:wght@500;600;700&display=swap" rel="stylesheet">

    <link href="{% static 'css/main.css'%}" rel= 'stylesheet'>
    {% comment %} <style>
      body {
        background-color: #fafafa;
        font-family: 'Nunito', sans-serif
        padding-top: 50px
      }
    </style> {% endcomment %}
  </head>

  <body>
    <div class="container">{% block content%} {% endblock content%}</div>
  </body>
</html>
