{% extends 'todoapp/main.html' %}
{% block content%}
<div class='header-bar'>
    <div>
        <h1>
          Hello {{request.user|title}}
        </h1>
        <h3 style='margin:0;'>
          You have <i>{{count}} </i>tasks incomplete task{{count|pluralize:'s'}}
        </h3>
    </div>
  {% if request.user.is_authenticated %}
  <a href="{%url 'logout'%}">Logout</a>
  {% else %}
  <a href="{%url 'login'%}">Login</a>
  {% endif %}
</div>

<div class='search-add-wrapper'>
  <form method="GET" style='display:flex;'>
    <input type="text" name="search-area" value="{{search_input}}" size=60 class='search-bar'/>
    <input type="submit" value="Search" class='button'/>
  </form>
  <a class='add-link'href="{% url 'task-create' %}">&#x2b</a>
</div>
<div class='task-items-wrapper'>
    {% for task in tasks %}
    <div class='task-wrapper'>
        {% if task.complete%}
        <div class='task-title'>
            <div class='task-complete-icon'></div>
            <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
        </div>
        {%else%}
        <div class='task-title'>
            <div class='task-incomplete-icon'></div>
            <a href="{% url 'task-update' task.id %}">{{task}}</a>
        </div>
        {% endif %}
            <a href="{% url 'task-delete' task.id%}" class='deletex'>&#215</a>
      </div>
    {%empty%}
    <h3>No items in list</h3>
    {%endfor%}
</div>
{% endblock content%}
