{% extends 'todoapp/main.html'%}
{% block content%}
<div class='header-bar'>
    <a href="{%url 'tasks'%}">&#8592</a>

</div>
<form method="POST" style='padding: 20px;'>{% csrf_token %}{{form.as_p}}
  <input type="submit" class='button'>
</form>

{%endblock content%}