{% extends 'todoapp/main.html'%}
{% block content%}
<div class='header-bar'>
  <a href="{%url 'tasks'%}">&#8592</a>

</div>
<form method="POST" style='padding: 20px;'>
  {% csrf_token %}
  <p>Are you sure you want to delete this task?</p>
  <input type="submit" value="delete" class='del-confirm-button'/>
</form>
{%endblock content%}